@helper Name() {
    if (App.Site == null) { App.Site = SiteSettings.Load().Value; }
    <text>@App.Site.Name</text>
}

@helper Author() {
    if (App.Site == null) { App.Site = SiteSettings.Load().Value; }
    <text>@App.Site.Author</text>
}

@helper Templates(string current) {
    var tmpls = new List<string> { "Default" };
    <select name="Template">
        @foreach (var s in SiteEngine.RunHook("get_templates", tmpls) as IEnumerable<string>)
        {
            if (s == current)
            {
                <option selected="selected" value="@s">@s</option>
            }
            else
            { 
                <option value="@s">@s</option>
            }
        }
    </select>
}

@helper MainMenu() {
    var menutext = SiteEngine.RunHook("get_menu", "Home|~/") as string;
    var menus = menutext == null ? new string[] { } : menutext.Split('\n');
    <ul id="menu">
        @foreach (var s in menus)
        {
            var ss = s.Trim().Split('|');
            var href = ss[1];
            if (href.StartsWith("~"))
            {
                href = Href(href);
            }

            if (Request.AppRelativeCurrentExecutionFilePath == ss[1])
            { 
                <li class="selected"><a href="@href">@ss[0]</a></li>
            }
            else
            { 
                <li><a href="@href">@ss[0]</a></li>
            }
        }
    </ul>
}

