@helper Name()
{
    <text>@App.Site.Name</text>
}
@helper Author()
{
    <text>@App.Site.Author</text>
}
@helper MainMenu()
{
    var menu = new List<string>();
    
    <ul id="menu">
        @foreach (var s in SiteEngine.RunHook("get_menu", menu) as IEnumerable<string>)
        {
            var ss = s.Split('|');

            if (Request.AppRelativeCurrentExecutionFilePath == ss[1])
            { 
                <li class="selected"><a href="@Href(ss[1])">@ss[0]</a></li>
            }
            else 
            { 
                <li><a href="@Href(ss[1])">@ss[0]</a></li>
            }
        }
    </ul>
} 