<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - @Site.Name()</title>
    <link href="@Href("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="@Href("blueprint/screen.css")" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="@Href("blueprint/print.css")" type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="@Href("blueprint/ie.css")" type="text/css" media="screen, projection"><![endif]-->
    <link href="@Href("Site.css")" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
    @RenderSection("head", required: false)
</head>
<body>
<div id="toprow" class="container">
<div id="login" class="span-24 last">
                @if (WebSecurity.IsAuthenticated)
                {
                    <ul>
                        <li><a href="@Href("~/")">Home</a></li>
                        @if (Roles.IsUserInRole("admin"))
                        {
                            <li><a href="@Href("~/Setup")">Setup</a></li>
                        }
                        <li><a href="@Href("~/User/")@WebSecurity.CurrentUserName">Dashboard</a></li>
                        <li><a href="@Href("~/Account/ChangePassword")">Account</a></li>
                        <li><a href="@Href("~/Account/Logout")">Logout</a></li>
                    </ul>
                }
                else
                {
                    <ul>
                        <li><a href="@Href("~/")">Home</a></li>
                        <li><a href="@Href("~/Account/Register")">Register</a></li>
                        <li><a href="@Href("~/Account/Login")">Login</a></li>
                    </ul>
                }
            </div>
</div>

<div class="container">
    <div id="header" class="span-24 last">
        <header>            
            <h1>@Site.Name()</h1>
        </header>
        <nav>@Site.MainMenu()
        </nav>
    </div>
</div>

<div id="page" class="container">
    <div id="content" class="span-24 last">

    @if (string.Compare(Request.AppRelativeCurrentExecutionFilePath, "~/Pages", true) == 0 ||
         string.Compare(Request.AppRelativeCurrentExecutionFilePath, "~/Pages/Default", true) == 0)    
    {
        <div class="span-18">
            <div id="color-block1" class="span-18"></div>
        </div>
        <div class="span-6 last">
            <div id="color-block2">
            <aside>@RenderSection("aside", required: false)</aside>
            </div>
        </div>
        
        <div class="span-24 last">
            <div id="main">
            <section>@RenderBody()</section>
            </div>
        </div>
    }
    else
    { 
        <div class="span-16 prepend-1">
        <section>@RenderBody()</section>
        </div>
        <div class="span-7 last">
            @RenderSection("aside", required: false)
        </div>
    }
    </div>

    <div id="footer" class="span-24 last">
        <footer>&copy; Copyright @DateTime.Now.Year, @Site.Author() All Right Reserved.</footer>
    </div>
</div>
</body>
</html>
