<style type="text/css">
    .editable:hover
    {
        border: 1px dotted #ffaaaa;
    }
    .editing, .editing:hover
    {
        border: 1px solid red;
        background-color:rgba(250, 250, 200, 0.3);
    }    
</style>
<div class="message"></div>
<article>
    <div class="article-title"><h2 class="editable" id="article-title">@Page.Title</h2></div>
    <div class="article-content editable" id="article-content">@Html.Raw(Page.Content)</div>
    <div class="article-tags">Tags: <div class="editable" id="article-tags" style="display:inline">
    @if (Page.Tags != null && Page.Tags.Length > 0)
    {
        @string.Join(", ", Page.Tags)
    }
    else
    {
        <text>(Enter tags separated by comma)</text>
    }
    </div>
    </div>  
</article>

<a href="/Pages/@Page.Id">stop editing</a>
<script type="text/javascript">
    $(function () {

        $(".message").hide();

        var editing = false;
        var editing_id;
        var origin;

        $('body').click(function (e) {

            if (editing) {

                editing = false;
                $(".editable").attr("contenteditable", "false")
                              .removeClass("editing");

                if (origin != $(editing_id).html()) {

                    if (confirm("Do you want to save the change?")) {

                        page = {
                            Id: "@Page.Id",
                            OldId: "@Page.Id",
                            Title: $("#article-title").text(),
                            Content: $("#article-content").html(),
                            Tags: $("#article-tags").text()
                        };

                        $.ajax({
                            type: "POST",
                            url: "/Pages/Edit",
                            data: page,
                            dataType: "json",
                            success: function (data, status) {
                                $(".message").text("page saved").fadeIn().delay(1000).fadeOut();
                            },
                            error: function (xhr) {
                                alert('Error!  Status = ' + xhr.status);
                            }
                        });

                        return false;
                    }
                    else {
                        $(editing_id).html(origin);
                    }
                }
            }
        });

        $('.editable').click(function (e) {
            e.stopPropagation();
            if (!editing) {
                editing = true;
                editing_id = "#" + this.id;
                origin = $(this).html();
                $(this).attr("contenteditable", "true")
                       .addClass("editing");
            }
        });
    });
</script>